APP_NAME=test-site
APP_ENV=local
APP_KEY=base64:bU27JcEs45NLMv0tokMWvod6qW759Bn6X5Zx+vaXD5M=
APP_DEBUG=true
APP_URL=http://localhost:8080

LOG_CHANNEL=file
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=test-site_db
DB_USERNAME=root
DB_PASSWORD=root_password

MAIL_MAILER=log
MAIL_FROM_ADDRESS=noreply@test-site.local
MAIL_FROM_NAME="${APP_NAME}"